%h1 Listing diapositivas

%table
  %tr
    %th Titulo
    %th Descripcion
    %th Imagen
    %th Slug
    %th
    %th
    %th

  - @diapositivas.each do |diapositiva|
    %tr
      %td= diapositiva.titulo
      %td= diapositiva.descripcion
      %td= diapositiva.imagen
      %td= diapositiva.slug
      %td= link_to 'Show', diapositiva
      %td= link_to 'Edit', edit_diapositiva_path(diapositiva)
      %td= link_to 'Destroy', diapositiva, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Diapositiva', new_diapositiva_path
