= page_title('Banners')

- if current_admin
  .admin-links-top
    = link_to 'Nuevo  Banner', new_diapositiva_path, class: 'btn btn-default'

.row
  .span12

%table
  - @diapositivas.each do |diapositiva|
    %tr
      %td= diapositiva.titulo
      %td= diapositiva.descripcion
      %td= image_tag diapositiva.imagen_url(:thumb)
      %td= link_to 'Editar', edit_diapositiva_path(diapositiva), class: 'btn btn-default'
      %td= link_to 'Eliminar', diapositiva, :method => :delete, :data => { :confirm => '¿Estás seguro?' }, class: 'btn btn-default'
