%p#notice= notice

%p
  %b Titulo:
  = @diapositiva.titulo
%p
  %b Descripcion:
  = @diapositiva.descripcion
%p
  %b Imagen:
  = @diapositiva.imagen
%p
  %b Slug:
  = @diapositiva.slug

= link_to 'Edit', edit_diapositiva_path(@diapositiva)
\|
= link_to 'Back', diapositivas_path
