<h1>Listing infoproductos</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Subtitulo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @infoproductos.each do |infoproducto| %>
  <tr>
    <td><%= infoproducto.titulo %></td>
    <td><%= infoproducto.subtitulo %></td>
    <td><%= link_to 'Show', infoproducto %></td>
    <td><%= link_to 'Edit', edit_infoproducto_path(infoproducto) %></td>
    <td><%= link_to 'Destroy', infoproducto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Infoproducto', new_infoproducto_path %>
