= form_for @contacto do |f|
  - if @contacto.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contacto.errors.count, "error")} en contacto"
      %ul
        - @contacto.errors.full_messages.each do |msg|
          %li= msg
  .row
    .span4
      .field
        = f.text_field :nombre, :value => 'Nombre'
      .field
        = f.text_field :apellido, :value => 'Apellido'

    .span4
      .field
        = f.text_field :empresa, :value => 'Empresa'
      .field
        = f.text_field :telefono, :value => 'Teléfono'
    .span4
      .field
        = f.text_field :email, :value => 'E-mail'
      .field
        = f.text_field :direccion, :value => 'Dirección'
  .row
    .span12
      .field
        = f.text_area :mensaje, :value => 'Mensaje'
      .actions
        = f.submit 'Enviar', class: 'btn btn-default pull-right'
