= form_for @contacto do |f|
  - if @contacto.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contacto.errors.count, "error")} en contacto"
      %ul
        - @contacto.errors.full_messages.each do |msg|
          %li= msg
  .row
    .span4
      .field
        = f.label :nombre
        = f.text_field :nombre
      .field
        = f.label :apellido
        = f.text_field :apellido

    .span4
      .field
        = f.label :empresa
        = f.text_field :empresa
      .field
        = f.label :telefono
        = f.text_field :telefono
    .span4
      .field
        = f.label :email
        = f.text_field :email
      .field
        = f.label :direccion
        = f.text_field :direccion
  .row
    .span12
      .field
        = f.label :mensaje
        = f.text_area :mensaje
      .actions
        = f.submit 'Enviar', class: 'btn btn-default pull-right'
