= page_title('Contacto')

- if notice
  .alert-container
    #alert.alert.alert-success
      = link_to '*', '#', :"data-dismiss" => 'alert', :class => 'close'
      %strong

      = notice

.row
  .span12

    %h3.title-box
      Déjanos un mensaje
    = render 'form'

.row
  .span12
    %h3.title-box
      Información
  .span11.offset1.info
    .row
      .span4
        .media
          .pull-left
            = image_tag ('ico-arrowsign.jpg')
          .media-content
            .media-title.upper
              Dirección
            .media-body
              Cajamarquilla 1126 Zárate - Lima 36 Perú
      .span4
        .media
          .pull-left
            = image_tag ('ico-phone.jpg')
          .media-content
            .media-title.upper
              teléfono
            .media-body
              715 - 8020

      .span3
        .media
          .pull-left
            = image_tag ('ico-print.jpg')
          .media-content
            .media-title.upper
              E-mail
            .media-body
              info@mpsac.com.pe
