#main-carrusel.carousel-projects.slide

  %ol.carousel-indicators
    - @diapositivas.each_with_index do |diapositiva, index|
      - if index == 0
        %li{:"data-target" => "#main-carrusel", :"data-slide-to" => index.to_s, :class => 'active span2 first-thumb'}
          = image_tag diapositiva.imagen_url(:thumb)
      - else
        %li{:"data-target" => "#main-carrusel", :"data-slide-to" => index.to_s, :class => 'span2'}
          = image_tag diapositiva.imagen_url(:thumb)

  <!-- Carousel items -->
  .carousel-inner
    - @diapositivas.each_with_index do |diapositiva, index|
      - if index == 0
        .item.active
          = render 'slide', :diapositiva => diapositiva
      - else
        .item
          = render 'slide', :diapositiva => diapositiva

  <!-- Carousel nav -->
  .control-wrapper
    = link_to raw('&lsaquo;'), '#main-carrusel', :"data-slide" => 'prev', :class => 'carousel-control left'
    = link_to raw('&rsaquo;'), '#main-carrusel', :"data-slide" => 'next', :class => 'carousel-control right'
