
.row
  .span12
    = render 'bootstrap_slider.html'

.row
  .span9
    %ul.thumbnails.custom-thumbnails
      %li.span3
        = link_to image_tag('img-home-nosotros.jpg'), '', class: 'thumbnail'
        %h3.title Nosotros
        %p.text-center Somos una empresa que lidera en el mercado desde hace 25 años.

      %li.span3
        = link_to image_tag('img-home-productos.jpg'), '', class: 'thumbnail'
        %h3.title Productos
        %p.text-center Somos una empresa que lidera en el mercado desde hace 25 años.

      %li.span3
        = link_to image_tag('img-home-contacto.jpg'), '', class: 'thumbnail'
        %h3.title Contacto
        %p.text-center Somos una empresa que lidera en el mercado desde hace 25 años.


  .span3
    .sidebar-nav
      %h3.title Actualizaciones
      = render '/shared/facebook_like_box'
      = link_to image_tag('btn-sigue.jpg', class: 'no-resp'), '/'

