- if current_admin
  .admin-links-top
    = link_to 'Nuevo  Tipo', new_tipo_path, class: 'btn btn-default'

= page_title('tipos')
= page_encabezado('subtitulo', 'imagen')
%p Texto descriptivo
= page_encabezado_end

- @tipos.each_slice(4) do |tipo|
  .row
    - tipo.each do |tipo|
      .span3
        = link_to image_tag(tipo.imagen_url(:span3_rect)), tipo
        .well
          %h3.title-block
            = tipo.nombre
          = paragraph(tipo.descripcion)
          .actions
            = link_to 'Ver', tipo, class: 'btn btn-default'
            - if current_admin
              = link_to 'Editar', edit_tipo_path(tipo), class: 'btn btn-default'
              = link_to 'Eliminar', tipo, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-default'
