- if current_admin
  .admin-links-top
    = link_to 'New ' + params[:controller].parameterize.singularize, new_example_path, class: 'btn btn-default'

= page_title('Gomas')


.row
  .span12
    .media
      .pull-left
        = link_to '<', '', class: 'pull-left btn btn-default btn-back'
        %h3.title-box.pull-left
          .well
            Artículos de Goma
      .media-body
        .well
          %p Texto descriptivo
    


// ojo, hacer un each slice con los rows
.row
  .span12
    %ul.thumbnails.custom-thumbnails.alterno
      %li.span3
        .img-wrapper
          = holder_tag '270x185/industrial'
          = link_to raw('<span></span>Ver más >'), '', class: 'btn btn-ver-mas'
        .well
          %h3.title Nosotros
          %p.text-center Somos una empresa que lidera en el mercado desde hace 25 años.

      %li.span3
        .img-wrapper
          = holder_tag '270x185/industrial'
          = link_to raw('<span></span>Ver más >'), '', class: 'btn btn-ver-mas'
        .well
          %h3.title Nosotros
          %p.text-center Somos una empresa que lidera en el mercado desde hace 25 años. 

      %li.span3
        .img-wrapper
          = holder_tag '270x185/industrial'
          = link_to raw('<span></span>Ver más >'), '', class: 'btn btn-ver-mas'
        .well
          %h3.title Nosotros
          %p.text-center Somos una empresa que lidera en el mercado desde hace 25 años.

      %li.span3
        .img-wrapper
          = holder_tag '270x185/industrial'
          = link_to raw('<span></span>Ver más >'), '', class: 'btn btn-ver-mas'
        .well
          %h3.title Nosotros
          %p.text-center Somos una empresa que lidera en el mercado desde hace 25 años.


.row
  .span12
    %ul.thumbnails.custom-thumbnails.alterno
      %li.span3
        .img-wrapper
          = holder_tag '270x185/industrial'
          = link_to raw('<span></span>Ver más >'), '', class: 'btn btn-ver-mas'
        .well
          %h3.title Nosotros
          %p.text-center Somos una empresa que lidera en el mercado desde hace 25 años.

      %li.span3
        .img-wrapper
          = holder_tag '270x185/industrial'
          = link_to raw('<span></span>Ver más >'), '', class: 'btn btn-ver-mas'
        .well
          %h3.title Nosotros
          %p.text-center Somos una empresa que lidera en el mercado desde hace 25 años. 

      %li.span3
        .img-wrapper
          = holder_tag '270x185/industrial'
          = link_to raw('<span></span>Ver más >'), '', class: 'btn btn-ver-mas'
        .well
          %h3.title Nosotros
          %p.text-center Somos una empresa que lidera en el mercado desde hace 25 años.

      %li.span3
        .img-wrapper
          = holder_tag '270x185/industrial'
          = link_to raw('<span></span>Ver más >'), '', class: 'btn btn-ver-mas'
        .well
          %h3.title Nosotros
          %p.text-center Somos una empresa que lidera en el mercado desde hace 25 años.

#bottom-area
  .row
    .span12
      = link_to 'Productos', '', class: 'btn btn-default pull-left'
