- if current_admin
  .admin-links-top
    = link_to 'Nuevo  Producto', new_tipo_producto_path(@tipo), class: 'btn btn-default'

= page_title('Productos | ' + @tipo.subcategoria.categoria.nombre + ' | ' + @tipo.subcategoria.nombre + ' | ' + @tipo.nombre)

- @productos.each_slice(3) do |producto|
  .row
    - producto.each_with_index do |producto, index|
      .span4
        = link_to image_tag(producto.imagen_url(:span4)), '#', :"data-toggle" => "modal", :"data-target" => "#myModal-" + index.to_s
        %h3.title-block.colored.well
          = paragraph(producto.nombre)
        - if current_admin
          .well
            .actions
              = link_to 'Editar', edit_tipo_producto_path(@tipo, producto), class: 'btn btn-default'
              = link_to 'Eliminar', tipo_producto_path(@tipo, producto), :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-default'

        %div{id: 'myModal-' + index.to_s, class: 'modal hide fade', tabindex: '-1', role: 'dialog', :"aria-labelledby" => 'myModalLabel', :"aria-hidden" => 'true'}
          .modal-header
            %button{:type => 'button', class: 'close', :"data-dismiss" => 'modal', :"aria-hidden" => 'true'}
              x
            .modal-body
              = image_tag(producto.imagen_url(:full))
            .modal-footer
              = producto.nombre


