
= page_title('Productos | Textiles')
.row.textil 
  .span12
    .media
      .pull-left
        .icon-fake
      
      .media-body
        .well
          %h4.media-heading
            NUESTRA TRASCENDENCIA EN EL MERCADO
          %p
            Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        
          %p
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore dolore magnm aliquam quaerat voluptatem. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est.
  
  

.row
  .span12
    %ul.thumbnails
      %li.span3
        = link_to holder_tag '270x185/industrial', '', class: 'thumbnail'
        .well
          %h3 Nosotros
          %p Somos una empresa que lidera en el mercado desde hace 25 a単os.

      %li.span3
        = link_to holder_tag '270x185/industrial', '', class: 'thumbnail'
        .well
          %h3 Productos
          %p Somos una empresa que lidera en el mercado desde hace 25 a単os.

      %li.span3
        = link_to holder_tag '270x185/industrial', '', class: 'thumbnail'
        .well
          %h3 Contacto
          %p Somos una empresa que lidera en el mercado desde hace 25 a単os.
    

      %li.span3
        = link_to holder_tag '270x185/industrial', '', class: 'thumbnail'
        .well
          %h3 Contacto
          %p Somos una empresa que lidera en el mercado desde hace 25 a単os.
    
   

.row
  .span12
    = link_to 'Productos', '', class: 'btn btn-default back'
