= 'Nombre: ' + @contacto.nombre
= 'Apellido: ' + @contacto.apellido
= 'Empresa: ' + @contacto.empresa
= 'Teléfono: ' + @contacto.telefono
= 'Email: ' + @contacto.email
= 'Dirección: ' + @contacto.direccion
= 'Mensaje: ' + @contacto.mensaje
