- if current_admin
  .admin-links-top
    = link_to 'Nuevo  Subcategoria', new_subcategoria_path, class: 'btn btn-default'

= page_title('subcategorias')
= page_encabezado('subtitulo', 'imagen')
%p Texto descriptivo
= page_encabezado_end

- @subcategorias.each_slice(2) do |subcategoria|
  .row
    - subcategoria.each do |subcategoria|
      %div{class: cycle('span5', 'span5 offset1')}

        = link_to image_tag(subcategoria.imagen_url(:span5)), subcategoria
        .well
          %h3.title-block
            = subcategoria.nombre
          
          = paragraph(subcategoria.descripcion)
          = subcategoria.icono
          .actions
            = link_to 'Ver', subcategoria, class: 'btn btn-default'
            - if current_admin
              = link_to 'Editar', edit_subcategoria_path(subcategoria), class: 'btn btn-default'
              = link_to 'Eliminar', subcategoria, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-default'
