= page_title('subcategoria')

.row
  .span12

    = link_to 'Atrás', '', class: 'btn btn-default btn-left back-js'

    - if current_admin
      = link_to 'Editar', edit_subcategoria_path(@subcategoria), class: 'btn btn-default'
.row
  .span6
    %b Nombre:
    = @subcategoria.nombre
    %b Descripcion:
    = @subcategoria.descripcion
    %b Imagen:
    = @subcategoria.imagen
    %b Icono:
    = @subcategoria.icono
