.separate-row.clearfix.menu-bg
  %ul#main-nav.nav.pull-left
    %li.first
      = link_to_unless_current image_tag('ico-home-off.png', class: 'off') + image_tag('ico-home-on.png', class: 'on') + ' Inicio', root_path do
        = image_tag('ico-home-on.png') + raw('<span>Inicio</span>')

    %li
      = link_to_unless_current 'Nosotros', quienes_somos_path do
        %span
          Nosotros
    %li
      = link_to_unless_current 'Productos', categorias_path do
        %span
          Productos
    - if current_admin
      %li
        = link_to_unless_current 'Banners', diapositivas_path do
          %span
            Banners
      %li
        = link_to_unless_current 'Mensajes', contactos_path do
          %span
            Mensajes
      %li.last
        = link_to_unless_current 'Cerrar Sesión', destroy_admin_session_path, method: :delete do
          %span
            Cerrar Sesión
    - else
      %li.last
        = link_to_unless_current 'Contacto', new_contacto_path do
          %span
            Contacto
